header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}

.logo {
  cursor: pointer;
}

.logo img {
  height: 40px;
}

.links a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}
