header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: lightskyblue;

  .logo {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover span {
      color: white;
    }

    svg {
      width: 55px;
      height: 55px;
      &:hover {
        fill: white;
      }
    }
  }

  .links a {
    margin-left: 10px;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  .toggle-container {
    background-color: white;
    border-radius: 10px;
    padding: 1px 3px;
    font-weight: bold;
    cursor: pointer;

    .red {
      color: red;
    }
  }
}
