<ng-container *ngIf="favorites.length; else noFavorites">
  <div class="favorites-container">
    <p class="favorites-title">My Favorites Locations</p>
    <app-favorite-city
      *ngFor="let city of favorites"
      [item]="city"
      [isCelsius]="isCelsius"
      class="favorites-item-container"
    ></app-favorite-city>
  </div>
</ng-container>
<ng-template #noFavorites>
  <div class="favorites-container">
    <p>No locations added to favorites yet.</p>
    <p class="back" routerLink="/">Go back to homepage to add some!</p>
  </div>
</ng-template>
